/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    background-color: white;
}

nav {
    width: 0px;
    background-color: white;
}

.slider {
    /* background-color: white; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(4, 4, 159)), to(rgb(218, 79, 218)));
    background-image: -o-linear-gradient(top, rgb(4, 4, 159), rgb(218, 79, 218));
    background-image: linear-gradient(180deg, rgb(4, 4, 159), rgb(218, 79, 218));
    border-radius: 0px 10px 10px 0px;
    width: 60px;
}

.navItems li {
    padding-left: 30px;
    position: absolute;
    top: 70%;
    left: 0px;
    cursor: pointer;
    display: none;
    -webkit-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms;
}

.navItems li:hover {
    color: rgb(218, 79, 218);
}

.down {
    width: 255px;
}

.down * {
    display: none;
}

i {
    cursor: pointer;
}

.dish,.category {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.name {
    color: rgb(218, 79, 218);
}

.dishShadow,.categoryShadow {
    position: absolute;
    top: 100%;
    left: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 4, 159, 0.203)), to(rgba(218, 79, 218, 0.208)));
    background-image: -o-linear-gradient(top, rgba(4, 4, 159, 0.203), rgba(218, 79, 218, 0.208));
    background-image: linear-gradient(180deg, rgba(4, 4, 159, 0.203), rgba(218, 79, 218, 0.208));
    /* background-color: rgba(255, 255, 255, 0.5); */
}
.mainNav{
    z-index: 9999;
}
.recipie,.tags{
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(4, 4, 159, 0.297)), to(rgba(218, 79, 218, 0.33)));
    background-image:-o-linear-gradient(top, rgba(4, 4, 159, 0.297), rgba(218, 79, 218, 0.33));
    background-image:linear-gradient(180deg, rgba(4, 4, 159, 0.297), rgba(218, 79, 218, 0.33)); 
    color: white;
}

.area , .ing{
    border: 1px  rgba(4, 4, 159, 0.589) solid;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.area:hover , .ing:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 4, 159, 0.203)), to(rgba(218, 79, 218, 0.208)));
    background-image: -o-linear-gradient(top, rgba(4, 4, 159, 0.203), rgba(218, 79, 218, 0.208));
    background-image: linear-gradient(180deg, rgba(4, 4, 159, 0.203), rgba(218, 79, 218, 0.208));
}
.ingName{
    color: rgba(4, 4, 159, 0.589) ;
}
.main-section{
    position: absolute;
    left: 60px;
    top: 0px;
    width: calc(100% - 60px);
}
.form{
    border:1px  rgba(4, 4, 159, 0.589) solid;
    background-image:
    -webkit-gradient(linear, left top, left bottom, from(rgba(4, 4, 159, 0.203)), to(rgba(218, 79, 218, 0.208)));
    background-image:
    -o-linear-gradient(top, rgba(4, 4, 159, 0.203), rgba(218, 79, 218, 0.208));
    background-image:
    linear-gradient(180deg, rgba(4, 4, 159, 0.203), rgba(218, 79, 218, 0.208));
    border-radius: 10px;
}
#byName,#byLetter{
    border: 1px rgba(4, 4, 159, 0.589)  solid !important;
    border-radius: 10px !important;
}

@media screen and (max-width:577px) {
    .col-xs-12{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
    width: 100%;
    }
    
}
